<div class="row">
  <div class="col">
    <button class="btn btn-primary">New-Recipe</button>
  </div>
</div>
<hr />
<!-- displaying recipes -->
<div class="row" *ngFor="let recipe of recipe_list" id="recipe-card">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col">
        <img
          class="img-fluid"
          [src]="recipe.imagePath"
          alt="..."
          style="max-height: 150px"
        />
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-recipe-item></app-recipe-item>
