
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Server ID: {{server_id}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h3>Server is {{getServerStatus()}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">Abrar</div>
        <div class="col">Mahi</div>
        <div class="col">Hello</div>
    </div>
    <div class="row">
        <div class="col">Mahi</div>
        <div class="col">Hello</div>
        <div class="col">Abrar</div>
    </div>
</div>