<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Server ID: {{ server_id }}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <!-- !using ngStyle: allows us to dynamically update css styles -->
            <!-- !using ngClass to dynamically add css classes -->
            <h3 [ngStyle]="{ backgroundColor: getColor() }" 
                [ngClass]="{online: server_status==='online'}">
            Server {{server_id}} is {{ getServerStatus() }}
            </h3>
        </div>
    </div>
    <p [ngStyle] = "{textAlign: 'center'}"> Hello World  <p>
    <div class="row justify-content-center">
        <div class="col">Abrar</div>
        <div class="col">Mahi</div>
        <div class="col">Hello</div>
    </div>
    <div class="row">
        <div class="col">Mahi</div>
        <div class="col">Hello</div>
        <div class="col">Abrar</div>
    </div>
</div>