<div class="row">
  <div class="col">
    <form action="">
      <div class="row">
        <div class="col form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" />
        </div>
        <div class="col form-group">
          <label for="name">Amount</label>
          <input type="text" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="submit">Delete</button>
          <button class="btn btn-info" type="submit">clear form</button>
        </div>
      </div>
    </form>
  </div>
</div>
